.footer {
  background-color: $bg-secondary;
  padding: 7.5rem 19.5rem;
  position: relative;

  .footer-content {
    height: 10.75rem;
    .brand {
      .icon-logo {
        height: 3.5rem;
        width: 3.5rem;
      }
      .text-logo {
        height: 1.75rem;
        width: 5.25rem;
      }
    }
    .copyright {
      color: #6f6f6f;
    }

    .link-container {
      width: 53.5rem; // 856px;
      .list {
        text-align: start;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        font-weight: 500;
        h6 {
          padding: 1rem 0;
          margin: 0;
          .link {
            margin: 0.025rem 0;
          }
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          font-size: 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
        }
        .link {
          text-decoration: none;
          color: $text-primary;
          display: block;
          // margin: 0.25rem 0;
        }
      }
    }
  }

  img.footer-decoration {
    position: absolute;
    top: 50px;
    left: 1477px;
    transform: translateY(-100%);
  }
}
