@import "bootstrap/scss/bootstrap";
@import "./_reset";
@import "./_variables";
@import "./_theme";

body {
  line-height: 1;
  background-color: $bg-primary;
  color: $text-primary;
  font-family: 'Kosugi Maru', sans-serif;
}

.hv100-with-nav {
  //nav py-1  + logo 40px
  height: calc(100vh - 0.5rem * 2 - 40px);
}

.brand {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: $text-secondary;
  gap: 4px;
  user-select: none
}

@import "./Navbar";
@import "./Footer";
@import "./Home";
