.navbar {
  font-size: 1rem;
  background-color: $grey-scale-7;
  color: $text-primary;

  .brand {
    .icon-logo {
      height: 2.5rem;
      width: 2.5rem;
    }
    .text-logo {
      height: 1.25rem;
      width: 3.75rem;
    }
  }

  .link {
    padding: 0.75rem 2.5rem;
    text-decoration: none;
  }
}
